In [2]:
import sys
sys.path.append('./../../src')

from lib.stonk_jar import StonkJar

In [3]:
ticker = 'AAPL'
jar = StonkJar(ticker)

In [4]:
historical_pickle_name = "{0}.technical.historical.df.pkl".format(ticker)
data = jar.read_pickle_dataframe(historical_pickle_name)

In [5]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,10,11
count,63182.000000,63182.000000,63182.000000,63182.000000,63182.000000,63182.00,63182.000000,63182.000000,63182.000000,63182.000000,63182.000000,63182.000000
mean,197.463851,198.058025,198.139215,198.850257,50.043398,1.68,1.555857,0.015223,0.015223,0.179619,0.507436,0.282498
std,53.223850,53.384002,53.409532,53.597538,28.572038,0.00,0.000000,0.011545,0.011545,0.019699,0.034419,0.006766
min,119.778202,120.138618,120.198807,120.619172,1.000000,1.68,1.555857,0.000000,0.000000,0.158140,0.451613,0.276549
25%,151.914016,152.371130,152.408394,152.980614,25.000000,1.68,1.555857,0.000000,0.000000,0.158416,0.476027,0.276882
50%,190.178690,190.750942,190.787224,191.513946,50.000000,1.68,1.555857,0.023585,0.023585,0.174658,0.500000,0.278302
75%,236.146259,236.856829,236.933289,237.804257,75.000000,1.68,1.555857,0.024194,0.024194,0.198630,0.549505,0.290960
max,437.358287,438.674310,438.016299,440.429007,99.000000,1.68,1.555857,0.024336,0.024336,0.223118,0.551163,0.292079

In [6]:
raw_data = jar.read_pickle_file("{0}-all-data-{1}.pkl".format(ticker, '2021-02-25'))

In [8]:
raw_data[0].describe()

,0,1,2,3,4,5,6,7,8,9,10,11
count,10.000000,10.000000,10.000000,10.000000,10.00000,1.000000e+01,10.000000,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,10.000000
mean,124.084132,124.457505,124.553766,124.955335,45.50000,1.680000e+00,1.555857,2.397260e-02,2.397260e-02,2.226027e-01,4.520548e-01,0.277397
std,0.712364,0.714508,0.588112,0.717366,26.70102,2.340556e-16,0.000000,3.657118e-18,3.657118e-18,2.925695e-17,5.851389e-17,0.000000
min,122.631000,123.000000,123.282900,123.492000,5.00000,1.680000e+00,1.555857,2.397260e-02,2.397260e-02,2.226027e-01,4.520548e-01,0.277397
25%,123.814220,124.186780,124.416452,124.683527,24.75000,1.680000e+00,1.555857,2.397260e-02,2.397260e-02,2.226027e-01,4.520548e-01,0.277397
50%,124.324184,124.698279,124.747937,125.197072,50.50000,1.680000e+00,1.555857,2.397260e-02,2.397260e-02,2.226027e-01,4.520548e-01,0.277397
75%,124.556404,124.931197,124.974516,125.430922,60.50000,1.680000e+00,1.555857,2.397260e-02,2.397260e-02,2.226027e-01,4.520548e-01,0.277397
max,124.913983,125.289853,125.101918,125.791012,89.00000,1.680000e+00,1.555857,2.397260e-02,2.397260e-02,2.226027e-01,4.520548e-01,0.277397