In [2]:
import sys
sys.path.append('./../../src')

from lib.stonk_jar import StonkJar

In [3]:
ticker = 'AAPL'
jar = StonkJar(ticker)

In [4]:
historical_pickle_name = "{0}.technical.historical.df.pkl".format(ticker)
data = jar.read_pickle_dataframe(historical_pickle_name)

In [5]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,10,11
count,63182.000000,63182.000000,63182.000000,63182.000000,63182.000000,63182.00,63182.000000,63182.000000,63182.000000,63182.000000,63182.000000,63182.000000
mean,197.463851,198.058025,198.139215,198.850257,50.043398,1.68,1.555857,0.015223,0.015223,0.179619,0.507436,0.282498
std,53.223850,53.384002,53.409532,53.597538,28.572038,0.00,0.000000,0.011545,0.011545,0.019699,0.034419,0.006766
min,119.778202,120.138618,120.198807,120.619172,1.000000,1.68,1.555857,0.000000,0.000000,0.158140,0.451613,0.276549
25%,151.914016,152.371130,152.408394,152.980614,25.000000,1.68,1.555857,0.000000,0.000000,0.158416,0.476027,0.276882
50%,190.178690,190.750942,190.787224,191.513946,50.000000,1.68,1.555857,0.023585,0.023585,0.174658,0.500000,0.278302
75%,236.146259,236.856829,236.933289,237.804257,75.000000,1.68,1.555857,0.024194,0.024194,0.198630,0.549505,0.290960
max,437.358287,438.674310,438.016299,440.429007,99.000000,1.68,1.555857,0.024336,0.024336,0.223118,0.551163,0.292079