In [1]:
import sys
sys.path.append('./../src')

# python's shit
from os import path
from datetime import date, datetime, timedelta
import time
import calendar

# someone elses shit
import finnhub
import pandas

# my shit
import config
from lib.stonk_jar import StonkJar
from lib.finnhub.data import FinnhubData as fh

Settings for the data pulling shit

In [2]:
ticker = 'GME'
fh = fh()

In [8]:
daily = fh.get_daily_closings(ticker, datetime.today() + timedelta(days = -1), include_ah = True)

[get_daily_closings] fetching pre market candles
[get_candle_as_dataframe] fetching 60 data for 2021-03-05 04:00:01 - 2021-03-05 08:30:01
[get_candle_as_dataframe] data from pickle: {'c': [132, 131.8, 128.22, 135], 'h': [132.67, 133, 131.8, 141], 'l': [130.58, 131, 128.22, 126.77], 'o': [130.58, 131.5, 131.8, 128.49], 's': 'ok', 't': [1614942000, 1614945600, 1614949200, 1614952800], 'v': [6831, 40738, 129830, 3919268]}
[get_daily_closings] pre_candles: [[Timestamp('2021-03-05 14:00:00'), 126.77, 128.49, 135.0, 141.0, 3919268]]
[get_daily_closings] fetching post market candles
[get_candle_as_dataframe] fetching 60 data for 2021-03-05 16:00:01 - 2021-03-05 20:00:01
[get_candle_as_dataframe] data from pickle: {'c': [138.28, 138.28], 'h': [138.74, 138.5], 'l': [138.28, 138.28], 'o': [138.5, 138.28], 's': 'ok', 't': [1614985200, 1614988800], 'v': [27654, 42124]}
[get_daily_closings] post_candles: [[Timestamp('2021-03-06 00:00:00'), 138.28, 138.28, 138.28, 138.5, 42124]]
[get_daily_closings] fetching market end candles
[get_candle_as_dataframe] fetching 60 data for 2021-03-05 08:30:01 - 2021-03-05 16:00:01
[get_candle_as_dataframe] data from pickle: {'c': [144.25, 141.25, 136.8, 141.49, 140.08, 137, 137.42, 138.39], 'h': [151.53, 148.15, 143.5, 143.92, 141.54, 141.95, 139.84, 138.5], 'l': [133.43, 138.28, 132.75, 134.8, 139, 134.5, 135.82, 137.25], 'o': [134.6, 144.28, 141.05, 136.76, 141.54, 140.04, 137.26, 137.5], 's': 'ok', 't': [1614956400, 1614960000, 1614963600, 1614967200, 1614970800, 1614974400, 1614978000, 1614981600], 'v': [9683909, 5126650, 3437306, 2664958, 363832, 2370655, 262625, 73104]}
[get_daily_closings] candles: [[Timestamp('2021-03-05 22:00:00'), 137.25, 137.5, 138.39, 138.5, 73104]]
[get_daily_closings] retVal: [[Timestamp('2021-03-05 14:00:00'), 126.77, 128.49, 135.0, 141.0, 3919268], [Timestamp('2021-03-05 22:00:00'), 137.25, 137.5, 138.39, 138.5, 73104], [Timestamp('2021-03-06 00:00:00'), 138.28, 138.28, 138.28, 138.5, 42124]]
                o           l           h           c             v
count    3.000000    3.000000    3.000000    3.000000  3.000000e+00
mean   134.100000  134.756667  137.223333  139.333333  1.344832e+06
std      6.368822    5.441088    1.926249    1.443376  2.229581e+06
min    126.770000  128.490000  135.000000  138.500000  4.212400e+04
25%    132.010000  132.995000  136.640000  138.500000  5.761400e+04
50%    137.250000  137.500000  138.280000  138.500000  7.310400e+04
75%    137.765000  137.890000  138.335000  139.750000  1.996186e+06
max    138.280000  138.280000  138.390000  141.000000  3.919268e+06

In [10]:
daily

                    t       o       l       h      c        v
0 2021-03-05 14:00:00  126.77  128.49  135.00  141.0  3919268
1 2021-03-05 22:00:00  137.25  137.50  138.39  138.5    73104
2 2021-03-06 00:00:00  138.28  138.28  138.28  138.5    42124

In [50]:
data = fh.stock_candles_by_date(ticker, datetime.today(), 60)

In [51]:
data.describe()

                o           l           h           c             v
count   14.000000   14.000000   14.000000   14.000000  1.400000e+01
mean   134.211429  136.584286  137.161429  140.331429  2.010677e+06
std      3.945390    4.622560    4.282885    5.606989  2.822800e+06
min    126.770000  128.490000  128.220000  131.800000  6.831000e+03
25%    131.437500  132.500000  135.450000  138.500000  4.986900e+04
50%    134.650000  137.380000  137.850000  140.420000  3.132285e+05
75%    138.022500  139.655000  139.657500  143.112500  3.244219e+06
max    139.000000  144.280000  144.250000  151.530000  9.683909e+06

In [3]:
data = fh.get_historical_data(ticker, fh.stock_candles_by_date, include_ah = True)

In [4]:
data.describe()

                o           l           h           c             v
count  789.000000  789.000000  789.000000  789.000000  7.890000e+02
mean    62.128219   66.830231   66.392210   71.090867  3.035372e+06
std     67.371356   77.220887   75.503506   84.485761  5.980315e+06
min     12.145000   12.300000   12.300000   12.740000  0.000000e+00
25%     18.530000   18.830000   18.820000   18.980000  1.174570e+05
50%     40.650000   42.290000   42.270000   43.350000  9.003950e+05
75%     81.110000   88.820000   87.685000   92.000000  2.949799e+06
max    421.700000  469.000000  468.500000  513.120000  5.785278e+07

[get_market_close] filtering historical candles by date 2021-03-05 22:00:00
                     t       o       l       h       c         v
t
7  2021-03-04 19:00:00  120.15  120.15  133.40  147.60  11792953
8  2021-03-04 20:00:00  128.16  134.00  132.35  141.50   8726406
9  2021-03-04 21:00:00  126.00  132.35  127.06  134.88    705208
10 2021-03-04 22:00:00  126.00  126.85  128.27  129.00    161602
11 2021-03-04 23:00:00  127.15  128.21  128.49  140.92     53322
12 2021-03-05 00:00:00  128.15  129.15  128.50  131.00     75389
0  2021-03-05 11:00:00  130.58  130.58  132.00  132.67      6831
1  2021-03-05 12:00:00  131.00  131.50  131.80  133.00     40738
2  2021-03-05 13:00:00  128.22  131.80  128.22  131.80    129830
3  2021-03-05 14:00:00  126.77  128.49  135.00  141.00   3919268
4  2021-03-05 15:00:00  133.43  134.60  144.25  151.53   9683909
5  2021-03-05 16:00:00  138.28  144.28  141.25  148.15   5126650
6  2021-03-05 17:00:00  132.75  141.05  136.80  143.50   3437306
7  2021-03-05 18:00:00  134.80  136.76  141.49  143.92   2664958
8  2021-03-05 19:00:00  139.00  141.54  140.08  141.54    363832
9  2021-03-05 20:00:00  134.50  140.04  137.00  141.95   2370655
10 2021-03-05 21:00:00  135.82  137.26  137.42  139.84    262625
11 2021-03-05 22:00:00  137.25  137.50  138.39  138.50     73104
12 2021-03-05 23:00:00  138.28  138.50  138.28  138.74     27654
13 2021-03-06 00:00:00  138.28  138.28  138.28  138.50     42124

KeyError: datetime.datetime(2021, 3, 5, 22, 0)

In [30]:
close_data.describe()

         o    l    h    c    v
count  0.0  0.0  0.0  0.0  0.0
mean   NaN  NaN  NaN  NaN  NaN
std    NaN  NaN  NaN  NaN  NaN
min    NaN  NaN  NaN  NaN  NaN
25%    NaN  NaN  NaN  NaN  NaN
50%    NaN  NaN  NaN  NaN  NaN
75%    NaN  NaN  NaN  NaN  NaN
max    NaN  NaN  NaN  NaN  NaN